

<div class="header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light px-5">
        <a class="navbar-brand font-weight-bold" href="/index" style="font-size:30px; margin-right: 2px; color: white">
            La<span class="font-weight-bold" href="/index" style="font-size:30px; color:#169BD7">Paul</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" >
            <i class="fas fa-bars" ></i>
        </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" class="navbar-nav ml-auto primary-navigation flex navbar-nav mx-auto">
            <ul id="primary-navigation" class="navbar-nav mr-auto navbar-nav ml-auto primary-navigation flex navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/index/payment"> Nạp tiền  </a></li>
                <li class="nav-item"><a class="nav-link" href="/index/cashout"> Rút tiền  </a></li>
                <li class="nav-item"><a class="nav-link" href="/index/transmoney"> Chuyển tiền  </a></li>
                <li class="nav-item"><a class="nav-link" href="/index/buying"> Mua thẻ  </a></li>
                <li class="nav-item"><a class="nav-link" href="/index/transaction"> Lịch sử giao dịch</a></li>

            </ul>
        </div>
    </nav>
</div>