{{>index_header}}
<div class="container align-items-center min-vh-100">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-5">
            <h1 class="text-center mt-3 mb-2 mt-5">Đổi mật khẩu</h1>
            <form method="post" action="/change-password" class="px-4 px-sm-4 px-m-5 px-lg-4 pt-3">
                <div class="renew">
                    <div class="form-group">
                        <input id="old_password" name="old_password" type="old_password" value="{{formdata.old_password}}" class="form-input" placeholder="Nhập mật khẩu cũ">
                    </div>
                    <div class="form-group">
                        <input id="password" name="password" type="password" value="{{formdata.password}}" class="form-input" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="form-group">
                        <input id="re-password" name="re-password" type="password" value="{{formdata.re-password}}" class="form-input" placeholder="Nhập lại mật khẩu">
                    </div>
                    {{#if error}}
                    <div class="form-group">
                        <div class="alert alert-danger">{{error.msg}}</div>
                    </div>
                {{/if}}
                </div>
                <div class="input-group custom-control custom-checkbox pt-2">
                    <div class="custom-button text-right">
                        <a href="/index" class="btn btn-logout">Trở về </a>
                        <button type="submit" onclick="" class="btn btn-login">Đổi mật khẩu</button>
                    </div>
                </div>
                
                <div id = 'error-activeAccount' style="display: none;" class='alert-danger'></div>
            </form>
        </div>

        <div class="col-md-6 col-sm-0">
            <img  class="img" src="./images/credit_card.svg" alt="login"/>
        </div>
    </div>
</div>
