{{>header}}

<div class="container-fluid align-items-center min-vh-100">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-1">
            <img  class="img" src="./images/transfer_money.svg" alt="login"/>
        </div>

        <div class="col-md-6 col-sm-12 mt-4">
            <h1 class="text-center mt-5 mb-2">Đăng nhập</h1>
            <p class="text-center text-secondary px-sm-2">Nhập username của bạn để đăng nhập tài khoản.</p>
            <form method="post" class="px-4 px-sm-2 px-m-3 px-lg-5 pt-3">
                <div class="form-group">
                    <input value="" id="username" name="username" value="{{formdata.username}}" type="text" class="form-input" placeholder="Tên đăng nhập">
                </div>
                <div class="form-group">
                    <input value="" id="password" name="password" value="{{formdata.password}}" type="password" class="form-input" placeholder="Mật khẩu">
                </div>
                {{#if error}}
                    <div class="form-group">
                        <div class="alert alert-danger">{{error.msg}}</div>
                    </div>
                {{/if}}
                <div class="input-group custom-control text-left pl-0">
                    <a href="/forgetpassword" class="text-secondary" style="text-decoration: none;">Quên mật khẩu</a>
                    <div class="custom-button text-right">
                        <button name="login" class="btn btn btn-login">Đăng nhập</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>